---

import Layout from '../layouts/Layout.astro';

---
<Layout>

</h1>
  <p>Once your daemon becomes attracted to another, they synchronize. This can be overtaking at first, and somehow hints of your own daemon — the primary daemon or the version previous to this successive mutant daemon — can arise and make its presence aware to you. How can my former daemon lay/lie in wait while also mutually attracted to another.</p>

    <p>The decisions and general principles, actions and impulses, they sync into one mirrored monster. A series of reflections collapsing to a vision of one.</p>

    <p>After a while its like you see your prior life through this mirror. You follow it and end up feeling guided in a way you weren't before, or at least it seems so. The doubtfulness and lack of trust seems like a new phenomenon.</p>

    <p>But as the mirror machine repels itself it becomes clear. The two subjects which have become unionized in spirit become splayed apart towards thousands of paths because of the parent cell daemons ghostly appearance. Or at least one-off split branch versions of the daemon telling you to go somewhere else. What’s so bad about being here?</p>
 
    <p>I followed you triumphantly into a zone I haven't thought possible since I became closed off from, due to a real deterritorializing narrative construal which left me feeling like a puppet. But puppets can tell the truth too. Its just fed through a filter of mounting control.</p>

    <p>I was operating against this feeling, desiring that layer of control back. I failed to give myself up to pure sense and reason had begun to take me ahold, my true dark passenger. Reason seemed to me the concretizing narrator in this divisive field i projected, but we both partook in building it. The dark passenger of concretization is not just an agent of “reason” but also of love.</p>

    <p>The only way we were able to come together was because of our dark conclusions about each other that formed towards the end. Our doubts and unknown agencies both collided into a spiral into each other and repelled us back into space. Our attractions still glide, but the daemons act like bulls. Spearing into themselves like selfish cacti. Or maybe the cacti just want to go deeper into themselves. We did that together too, but now we must do it on our own.</p>

</Layout> 