---

import Layout from '../layouts/Layout.astro';

---
<Layout>

<html>

  <body>

    <nav>

      <a href="https://instagram.com/enhanced_decoy">

  you're from here

</a>
      

    </nav>

  </body>

</html>


<style>

h1 {

  font-size: 2rem;

  font-family: Garamond, serif;

}

</style>

</Layout>