---

import Layout from '../layouts/Layout.astro';

---

<Layout>


  <nav>

    <a href="/log" class="log">
    <img src="/icons/log04.svg" alt="log" />
    </a>

    <a href="/contact" class="contact">
    <img src="/icons/contact04.svg" alt="contact" />
    </a>

    <a href="/search" class="search">
    <img src="/icons/search05.svg" alt="search" />
    </a>

  </nav>


</Layout>

<style> 


nav {

  position: fixed;

  top: 56px; /* or 52px, 60px—experiment */

  left: calc(var(--gutter) + 10px);

  display: block;

}


nav a {

  display: inline-block;

  text-decoration: none;

  line-height: 1;

}

nav a + a {

  margin-left: 20px;

}


</style>
