---

import Layout from '../layouts/Layout.astro';

---

<Layout>


 <nav>

  <a href="/blog" class="blog">o</a>

  <a href="/contact" class="contact">D</a>

  <a href="/search" class="search">QQQQQQQQQ</a>

</nav>

</Layout>
<style> 
.blog {

  color: rgb(0, 220, 169);

  font-size: 3rem;



}


.contact {

  color: rgb(255, 123, 0);

  font-size: 2rem;
  margin-right: 2rem;

}

.search {

  color: rgb(136, 136, 136);

  font-size: 2rem;

}

</style>
