---

import Layout from '../layouts/Layout.astro';

---

<Layout>


  <nav>

  <a href="/blog" class="blog">○</a>

  <a href="/contact" class="contact">□</a>

  <a href="/search" class="search">▭</a>

</nav>


</Layout>

<style> 


nav {

  position: fixed;

  top: 40px;

  left: calc(var(--gutter) + 10px);

  display: flex;

  align-items: center;

  gap: 2rem;

}


nav a {

  text-decoration: none;
  line-height: 1; 
}

.blog {

  color: rgb(0, 220, 169);

  font-size: 3rem;



}


.contact {

  color: rgb(255, 123, 0);

  font-size: 3rem;

}

.search {

  color: rgb(136, 136, 136);

  font-size: 3rem;

}

</style>
