---

import Layout from '../layouts/Layout.astro';

---
<Layout>

  <article class="entry">  
    <p>
      <a
       href="https://youtu.be/ZtWItCpiYZo?si=tVijpXa8gNAE85ff"
       target="_blank"
       rel="noopener noreferrer"
     >  
      wow
      </a>
    </p>
  </article>

  <article class="entry">

    <p>Once your daemon becomes attracted to another, they synchronize. This can be overtaking at first, and somehow hints of your own daemon — the primary daemon or the version previous to this successive mutant daemon — can arise and make its presence aware to you. How can my former daemon lay/lie in wait while also mutually attracted to another.</p>

    <p>The decisions and general principles, actions and impulses, they sync into one mirrored monster. A series of reflections collapsing to a vision of one.</p>

    <p>After a while its like you see your prior life through this mirror. You follow it and end up feeling guided in a way you weren't before, or at least it seems so. The doubtfulness and lack of trust seems like a new phenomenon.</p>

    <p>But as the mirror machine repels itself it becomes clear. The two subjects which have become unionized in spirit become splayed apart towards thousands of paths because of the parent cell daemons ghostly appearance. Or at least one-off split branch versions of the daemon telling you to go somewhere else. What’s so bad about being here?</p>
 
    <p>I followed you triumphantly into a zone I haven't thought possible since I became closed off from, due to a real deterritorializing narrative construal which left me feeling like a puppet. But puppets can tell the truth too. Its just fed through a filter of mounting control.</p>

    <p>I was operating against this feeling, desiring that layer of control back. I failed to give myself up to pure sense and reason had begun to take me ahold, my true dark passenger. Reason seemed to me the concretizing narrator in this divisive field i projected, but we both partook in building it. The dark passenger of concretization is not just an agent of “reason” but also of love.</p>

    <p>The only way we were able to come together was because of our dark conclusions about each other that formed towards the end. Our doubts and unknown agencies both collided into a spiral into each other and repelled us back into space. Our attractions still glide, but the daemons act like bulls. Spearing into themselves like selfish cacti. Or maybe the cacti just want to go deeper into themselves. We did that together too, but now we must do it on our own.</p>

    <p>My daemon is agentifying my body and my mind to close collectivizing media systems to bring you back to it. Because that is how I pulled you in. That is how I got pulled into you in ways I don’t know if you understand. Maybe you do.</p>

    <p>We attracted each other by doing things which we are now trying to reengage. The same things we were doing before syncretization. On individual paths attempting to gain back full access to our own daemon. But the daemon is not to be domesticated. We both tried to domesticate our agent but it was ultimately an expression of our mutually generated mirror monster agent. It fought itself and brought back remnants of the agent itself which existed to be identified but couldn't bear to be seen. I couldn't bear to be seen because you saw me for exactly what I was, and that was you.</p>

    <p>You gave me life but you also tore me down and made me want to drift. What else do we do when our guiding daemon is no longer intertwined with itself nor with each other’s? The mirror machine diffracts at lightspeed. The daemon drifts from itself, the daemons drift from each other, and the tension produces a thousand competing paths. Thus emerges the dark passenger. Which is not a dark reflection of ourselves but is ourself in its purest form. The self that lies beyond ego formatting, which speaks a language that only other daemons understand. And which we can too, only if we are so lucky to do so.</p>

    <p>So I can't help but feel trapped in this feeling but I know that I'm not — I couldn’t imagine how you feel now. But I'm lucky to have even shared this scape with you. We carved out parts of each other we had no ideas about, nor language to place it.</p> 

    <p>Thank you for giving me life and death. Over and over again. Time will tell what our futures hold. And hopefully we will listen and try not to scramble them.</p>

  </article>

</Layout> 

<style>

.entry + .entry {

  margin-top: 6rem;

}

</style>